* {
  margin: 0px auto;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Poppins, sans-serif;
}
.container {
  width: 90%;
  margin: 0px auto;
}
.flexibal {
  display: flex;
  align-items: center;
}
.flexibal .half-width {
  width: 50%;
  padding: 2%;
}
.half-width img {
  width: 80%;
}
.half-width .heading-box {
  position: relative;
}
.line::after {
  content: "";
  position: absolute;
  top: 19px;
  left: -12px;
  width: 5px;
  height: 129px;
  background-color: rgba(62, 226, 199, 0.68);
}
.half-width h1 {
  font-size: 3.5rem;
}
.orange-color {
  color: orange;
}
.half-width .ancor-link {
  padding: 10px 40px;
  background-color: tomato;
  border-radius: 10px;
  color: white;
  display: inline-block;
  margin: 4% 2%;
  transition: 0.4s;
}
.ancor-link:hover {
  background-color: rgba(13, 122, 141, 0.808);
}

.top-bannar p {
  font-size: 1.2rem;
}
.flex-card {
  box-sizing: border-box;
  display: flex;
  gap: 50px;
  padding-top: 2rem;
}
.flex-card-child {
  padding: 15px;
  border-radius: 20px;
}
.flex-card-child img {
  width: 37%;
}
.flex-card-conti h1 {
  text-align: center;
  font-size: 2.5rem;
}
.bg-1 {
  background-color: rgb(79, 157, 166);
}
.bg-2 {
  background-color: rgba(255, 150, 89, 0.63);
}
.bg-3 {
  background-color: rgb(255, 244, 214);
}

.coding {
  background-image: url(./images/shapes/shape-1.png);
  background-size: 300px 300px;
  background-repeat: no-repeat;
  background-position: left;
  padding-top: 6rem;
}
.coding img {
  float: right;
}
.Community h1 {
  font-size: 3rem;
}
.Community {
  background-image: url(./images/shapes/shape-1.png);
  background-size: 300px 300px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-position-y: 120%;
  padding-top: 6rem;
}
.Community img {
  float: left;
}
.Community p {
  font-weight: 300;
  font-size: 0.9rem;
}
input:focus {
  outline: none;
}
.contact {
  background-color: black;
}
span.from-box-txt-child {
  display: inline-block;
  margin-top: 20px;
  color: white;
}
.form-box {
  background-color: black;
  color: white;
  width: 66%;
  padding: 2px 5px;
  border: none;
  border-bottom: 1px solid white;
}
textarea#txtid {
  width: 68%;
}
.submit {
  border: none;
  cursor: pointer;
}
.social {
  display: flex;
  gap: 1rem;
}
.social a {
  margin: 0;
  color: white;
  font-size: 2rem;
}
.contact-title {
  font: 900;
  color: white;
}
footer {
  font-family: "Lobster", cursive;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.829);
}
footer h1 {
  font-size: 3rem;
  color: white;
  font-family: "Lobster", cursive;
}
footer p {
  color: white;
}
