* {
  margin: 0px auto;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Poppins, sans-serif;
}
.container {
  width: 80%;
  margin: 0px auto;
}
.flexibal {
  display: flex;
  align-items: center;
}
.flexibal .half-width {
  width: 50%;
  padding: 2%;
}
.half-width img {
  width: 80%;
}
.half-width .heading-box {
  position: relative;
}
.line::after {
  content: "";
  position: absolute;
  top: 19px;
  left: -12px;
  width: 5px;
  height: 129px;
  background-color: rgba(62, 226, 199, 0.68);
}
.half-width h1 {
  font-size: 3.5rem;
}
.orange-color {
  color: orange;
}
.half-width .ancor-link {
  padding: 10px 40px;
  background-color: tomato;
  border-radius: 10px;
  color: white;
  display: inline-block;
  margin: 4% 2%;
}
.half-width p {
  font-size: 1.2rem;
}
.flex-card {
  display: flex;
  gap: 100px;
  padding-top: 2rem;
}
.flex-card-child {
  padding: 15px;
  border-radius: 20px;
}
.flex-card-child img {
  width: 37%;
}
.flex-card-conti h1 {
  text-align: center;
  font-size: 2.5rem;
}
.bg-1 {
  background-color: rgb(79, 157, 166);
}
.bg-2 {
  background-color: rgba(255, 150, 89, 0.63);
}
.bg-3 {
  background-color: rgb(255, 244, 214);
}
